[plugins]

android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
kotlin = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
apolloKotlin = { id = "com.apollographql.apollo3", version.ref = "apollo" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependencyAnalysis" }


[versions]

# Core Library Desugaring
# https://github.com/google/desugar_jdk_libs/blob/master/CHANGELOG.md.
desugaring = "2.0.2"

# Accompanist
# https://github.com/google/accompanist/releases.
accompanist = "0.29.2-rc"

# Android Gradle Plugin
# https://developer.android.com/studio/releases/gradle-plugin.
agp = "7.4.2"

# AndroidX
# https://androidx.tech.
activity = "1.6.1"
core = "1.9.0"
lifecycle = "2.6.0"
extJunit = "1.1.5"
espresso = "3.5.1"

# Apollo Kotlin
# https://github.com/apollographql/apollo-kotlin/releases.
apollo = "3.7.4"

# COIL
# https://github.com/coil-kt/coil/blob/main/CHANGELOG.md.
coil = "2.2.2"

# TODO: Replace this with [Appyx](https://github.com/bumble-tech/appyx).
# Compose Destinations
# https://github.com/raamcosta/compose-destinations/releases.
composeDestinations = "1.8.33-beta"

# Compose
# https://developer.android.com/jetpack/androidx/releases/compose.
composeAnimation = "1.4.0-rc01"
composeCompiler = "1.4.2"
composeFoundation = "1.4.0-rc01"
composeMaterial = "1.4.0-rc01"
composeMaterial3 = "1.1.0-alpha08"
composeRuntime = "1.4.0-rc01"
composeUi = "1.4.0-rc01"

# Dagger
# https://github.com/google/dagger/releases.
dagger = "2.45"

# Hilt
# https://developer.android.com/jetpack/androidx/releases/hilt.
hilt = "1.0.0"

# Kotlin
# https://kotlinlang.org/docs/releases.html#release-details.
kotlin = "1.8.10"
coroutines = "1.6.4"

# KSP
# https://github.com/google/ksp/releases.
ksp = "1.8.10-1.0.9"

# Test
# https://github.com/junit-team/junit4/releases.
junit = "4.13.2"

# Dependency Analysis Gradle Plugin
# https://github.com/autonomousapps/dependency-analysis-android-gradle-plugin/blob/main/CHANGELOG.md.
dependencyAnalysis = "1.19.0"


[libraries]

android-desugaring = { group = "com.android.tools", name = "desugar_jdk_libs", version.ref = "desugaring" }
androidx-activityCompose = { group = "androidx.activity", name = "activity-compose", version.ref = "activity" }
androidx-coreKtx = { group = "androidx.core", name = "core-ktx", version.ref = "core" }
androidx-lifecycleRuntimeKtx = { group = "androidx.lifecycle", name = "lifecycle-runtime-ktx", version.ref = "lifecycle" }
androidx-test-junit = { group = "androidx.test.ext", name = "junit", version.ref = "extJunit" }
androidx-test-espressoCore = { group = "androidx.test.espresso", name = "espresso-core", version.ref = "espresso" }
compose-destinations = { group = "io.github.raamcosta.compose-destinations", name = "animations-core", version.ref = "composeDestinations" }
compose-destinations-ksp = { group = "io.github.raamcosta.compose-destinations", name = "ksp", version.ref = "composeDestinations" }
compose-animation = { group = "androidx.compose.animation", name = "animation", version.ref = "composeAnimation" }
compose-foundation = { group = "androidx.compose.foundation", name = "foundation", version.ref = "composeFoundation" }
compose-material = { group = "androidx.compose.material", name = "material", version.ref = "composeMaterial" }
compose-material3 = { group = "androidx.compose.material3", name = "material3", version.ref = "composeMaterial3" }
compose-runtime = { group = "androidx.compose.runtime", name = "runtime", version.ref = "composeRuntime" }
compose-ui = { group = "androidx.compose.ui", name = "ui", version.ref = "composeUi" }
compose-ui-text-googleFonts = { group = "androidx.compose.ui", name = "ui-text-google-fonts", version.ref = "composeUi" }
compose-ui-tooling = { group = "androidx.compose.ui", name = "ui-tooling", version.ref = "composeUi" }
compose-ui-toolingPreview = { group = "androidx.compose.ui", name = "ui-tooling-preview", version.ref = "composeUi" }
compose-test-ui-testJunit4 = { group = "androidx.compose.ui", name = "ui-test-junit4", version.ref = "composeUi" }
apollo-runtime = { group = "com.apollographql.apollo3", name = "apollo-runtime" }
apollo-cache-memory = { group = "com.apollographql.apollo3", name = "apollo-normalized-cache", version.ref = "apollo" }
apollo-cache-sqlite = { group = "com.apollographql.apollo3", name = "apollo-normalized-cache-sqlite", version.ref = "apollo" }
coil-compose = { group = "io.coil-kt", name = "coil-compose", version.ref = "coil" }
kotlin-coroutines-android = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "coroutines" }
hilt-android = { group = "com.google.dagger", name = "hilt-android", version.ref = "dagger" }
hilt-android-compiler = { group = "com.google.dagger", name = "hilt-android-compiler", version.ref = "dagger" }
hilt-navigationCompose = { group = "androidx.hilt", name = "hilt-navigation-compose", version.ref = "hilt" }
accompanist-systemUiController = { group = "com.google.accompanist", name = "accompanist-systemuicontroller", version.ref = "accompanist" }
accompanist-placeholder = { group = "com.google.accompanist", name = "accompanist-placeholder", version.ref = "accompanist" }
test-junit = { group = "junit", name = "junit", version.ref = "junit" }

[bundles]

compose = [
    "compose-animation",
    "compose-foundation",
    "compose-material3",
    "compose-runtime",
    "compose-ui",
]
