# This workflow builds debug binaries and uploads them for every push to main
name: build-debug

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
          cache: 'gradle'

      - name: Assemble Debug
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v7
        with:
          name: apk
          path: app/build/outputs/apk/debug/**.apk
