# This workflow creates a release and uploads release binaries for each new tag created
name: create-release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'

      - name: Prepare signing keystore
        uses: mobiledevops/secret-to-file-action@v1
        with:
          base64-encoded-secret: ${{ secrets.KEYSTORE_CONTENT }}
          filename: "keystore.jks"

      - name: Build App
        run: ./gradlew assembleRelease
        env:
          ORG_GRADLE_PROJECT_storeFilePath: "../keystore.jks"
          ORG_GRADLE_PROJECT_storePass: ${{ secrets.KEYSTORE_PASSWORD }}
          ORG_GRADLE_PROJECT_key: ${{ secrets.KEY_ALIAS }}
          ORG_GRADLE_PROJECT_keyPass: ${{ secrets.KEY_PASSWORD }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            app/build/outputs/apk/release/**.apk
